$color-main: #02709e;

.padding-top-bottom-8 {
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: $color-main;
}

.padding-top-5 {
    padding-top: 5%;
}

.bg-color-main {
    background-color: $color-main;
}
.text-dashed {
    text-decoration: underline;
}